/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Lacquer', sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
#regularText {
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
.container {
  margin: 0% 0%;
  background-color: black;
  color: white;
}
.container header .header-img {
  width: 100%;
  height: 100%;
}
.container header nav {
  margin: 5% 0;
  margin-left: 45%;
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 3rem;
}
.container header nav a {
  text-decoration: none;
  color: white;
}
.container header h1 {
  text-align: center;
  margin: 5% 0;
  font-size: 5rem;
  color: red;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #520404, 0 0 30px #520404, 0 0 40px #520404, 0 0 50px #520404, 0 0 60px #520404, 0 0 70px #520404;
  }
}
.container .intro {
  background: white;
  width: 45%;
  margin: 3% auto;
  padding: 1% 3%;
}
.container .intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: black;
  text-align: center;
}
.container .skills-section h3 {
  font-size: 3rem;
  margin: 4% 45%;
  color: red;
}
.container .skills-section .skills {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: space-around;
}
.container .skills-section .skills ul {
  text-align: center;
  width: 45%;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
.container .skills-section img {
  width: 45%;
}
